/* default style */
* {
    box-sizing: border-box;
    text-decoration: none;
    font-family: Menlo,Consolas,monaco,monospace;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: #DEF1FF;
    height: 1000vh;
    scroll-behavior: smooth;
}

/* header style start form here */
/* header top */
/* main continer */
.header__one {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-height: 50px;
    margin: 0px auto;
    align-items: center;
    justify-content: space-evenly;
    background-color: #58B9FE;
}

/* header top sub section */
.header__text {
    width: 70%;
    height: auto;
    text-decoration: none;
}
.header__text p a:hover{
    color: #A36CBD;
}
.header__text p a{
    color: white;
    transition: all 0.8s;
}
.header__text p {
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header__icon {
    width: 20%;
    height: auto;
    font-size: 0px;
    border-right: 1px solid black;
}

.header__icon a {
    padding-left: 5px;
}
.header__cart {
    width: 4%;
    height: auto;
}

.header__cart::after {
    content: "0";
    width: 10px;
    height: auto;
    border-radius: 50%;
    color: black;
    position: absolute;
    font-weight: bolder;
    text-align: center;
    top: 0;
}

/* header secoind part design */
.header__two {
    width: 100%;
    min-height: 60px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: transparent;
    justify-content: space-around;
    border-bottom: 0.2px solid black;
}

.header__logo {
    width: 25%;
}

.header__nav {
    width: 40%;
    display: inline-block;
    text-align: center;
}

.header__nav li{
    list-style: none;
    float: left;
    flex-wrap: wrap;
    padding-left: 15px;
    font-size: large;
    text-transform: capitalize;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}
.header__nav li a{
    transition: color 0.7s cubic-bezier(0.165, 0.84, 0.44, 1);
    color: black;
}
.header__nav li:hover a{
    color: #A36CBD;
}

/* Search box design */
.header__search {
    width: 25%;
}

#search_box {
    background-image: url(search-icon.png);
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: left;
    height: 30px;
    width: 100%;
    background-color: transparent;
    border-radius: 5px;
    border: 5px solid transparent;
    padding-left: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    font-weight: bold;
}
#search_box:focus{
    border: none;
    outline: none;
    caret-color: #58B9FE;
}
/* section one */
.section-box{
    width: 90%;
    height: auto;
    display: flex;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 50px;
    justify-content: space-around;
    align-items: center;
}
.section__img{
    width: 60%;
    height: fit-content;
    background-size: cover;
    border-radius: 20px;
}
.section__img img{
    width: 500px;
    border-radius: 20px;
}
/* section content */
.section__content{
    width: 40%;
}
.section__content h1{
    font-size: 30px;
}
.section__btn{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.section__btn .fm{
    width: 60%;
    height: 30px;
    font-weight: bold;
    background-color: #A36CBD;
    border: 2px solid #A36CBD;
    border-radius: 10px;
    color: white;
    transition: color linear 0.5s;
}
.section__btn .c{
    width: 30%;
    font-weight: bold;
    background-color: transparent;
    border: 2px solid #A36CBD;
    border-radius: 10px;
    transition: background linear 0.5s;
}
.section__btn .fm:hover, .c:hover{
    background-color: #A36CBD;
    color: white;
    border: 2px solid #A36CBD;
    opacity: 0.9;
}
/* button is ended */
.section-two{
    margin: 50px auto;
    border-radius: 50px;
    width: 90%;
    height: 450px;
    background-image: url(food-img.png);
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.sec__top{
    width: 100%;
    height: 390px;
    padding:50px 100px;
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.sec__top h4{
    font-weight: 500;
    color: #DEF1FF;
}
.sec__top h1{
    font-size: 60px;
    margin: 0px;
    letter-spacing: 5px;
    color: #DEF1FF;
    transition: all 1s;
}
/* section img */
.sec_img {
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    flex-wrap: wrap;
    width: 90%;
    overflow: hidden;
    transition: img 0.8 linear;
}
.sec_img img{
    width: 50%;
    padding-left: 20px;
    border-radius: 20px;
    transition: all 1s;
}
.sec__top:hover .sec_img{
    display: flex;
}
.sec__top:hover h1{
    display: none;
} 
.sec__top:hover h4{
    display: none;
}
/* section img end her */
/* sec bottom start here */
.sec__bottom{
    width: 100%;
    height: 55px;
    background-color: #58B9FE;
    text-align: center;
    color: #DEF1FF;
    font-size: 18px;
    vertical-align: middle;
    transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.sec__bottom:hover h4{
    color: #A36CBD;
    font-size: 20px;  
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1); 
}
.sec__bottom h4{
    text-align: center;
    padding: 4px;
}
/* section two is end her */
/* section three is started from here */
.section-three{
    width: 95%;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.sec_three-img{
    width: 50%;
    height: 100%;
    overflow: hidden;
}
.sec_three-img img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
/* sec_ thtree img is end */
/* sec three text */
.sec_three-text{
    width: 50%;
    padding: 20px;
}
.sec_three-text h1{
    font-size: 30px;
    margin-top: 0px;
}
.sec_three-img p{
    font-size: large;
}
.st__div {
    text-align: right;
}

